<div class="linea">
    <h4 class="e">KYBERNET</h4>
  </div>
  <br><br><br><br>
  
  <div class="a">
    <button class="custom-button custom-button-equal-size" routerLink="/corte-laser">
        <img class="image-equal-size" src="assets\img\corte_laser.jpeg" >
        <h2 class="button-title">Corte Láser</h2>
      </button>
      
      <button class="custom-button custom-button-equal-size" routerLink="/bisoteria">
        <img class="image-equal-size" src="assets/img/bisoteria.jpg" >
        <h2 class="button-title">Bisutería</h2>
      </button>
      
      <button class="custom-button custom-button-equal-size" routerLink="/reparaciones">
        <img class="image-equal-size" src="assets/img/reparaciones.jpeg" >
        <h2 class="button-title">Servicio de Reparaciones</h2>
      </button>
  </div>