<section class="product-details" id="product-details" style="display:none;">
    <div class="container" *ngIf="producto">
      <img [src]="producto.imagen" alt="Imagen del Producto">
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <p>Precio: ${{ producto.precio }}</p>
      <div class="buttons">
        <button (click)="addToCart()">Añadir al Carrito</button>
        <button (click)="continueShopping()">Seguir Comprando</button>
      </div>
    </div>
  </section>
  